@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f9f4ec;
  --color-dark-background: #201f1f;
  --color-smooth-orange: #ee5626;
  --color-smooth-black: #201f1f;
}
